{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
</head>
<body>

    <section>
        <div class="icon"><img src="{% static 'school.png' %}" alt="">
            <div class="cont">
                <h5>STEP 3 OF 3</h5>
                <h1>FINAL VERIFICATION</h1>
                <p>
                    Congratulation , All Steps Are Complicated
                    Wiithin 2-3 Working Days You Will Be
                    Verified By Institute
                </p>
            </div>
        </div>
    </section>
</body>

{% endblock %}